@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

/* NAVBAR */
nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
h2 {
  color: #234cad;
  font-weight: 800;
}
nav ul {
  display: flex;
  margin-top: 15px;
}

.nav-links li {
  list-style: none;
}

nav .nav-links a {
  font-size: 1.3em;
  color: #234cad;
  text-decoration: none;
  font-weight: 500;
  margin-right: 60px;
  width: 100%;
}

.btnLogin {
  width: 110px;
  height: 40px;
  align-items: center;
  background-color: white;
  border: 2px solid #234cad;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  color: #234cad;
  font-weight: 600;
  margin-right: 20px;
  transition: 0.5s;
}

.btnLogin:hover {
  background-color: #285acd;
  color: #f2f6ff;
}

.btnRegister {
  width: 120px;
  height: 40px;
  align-items: center;
  background-color: #f2f6ff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1em;
  color: #234cad;
  font-weight: 600;
  margin-right: 20px;
}

nav .toggle_btn {
  color: #285acd;
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU */
.dropdown {
  display: none;
  position: absolute;
  right: 2rem;
  top: 65px;
  height: 0;
  width: 300px;
  background: #b5c7f3;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown.open {
  height: 330px;
}

.dropdown ul {
  padding: 0px;
}

.dropdown li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown a {
  font-size: 1.1em;
  color: #234cad;
  text-decoration: none;
}

.dropdown .btnLogin,
.dropdown .btnRegister {
  width: 100%;
  margin-right: 0px;
}

/* BANNER */
#banner {
  margin-left: 100px;
  margin-right: 100px;
}

#banner .bg-banner {
  height: 575px;
  width: auto;
  background-color: #f2f6ff;
  border-radius: 60px;
  margin-top: 50px;
  display: flex;
}

#banner .bg-banner .container-banner {
  background-color: #f2f6ff;
  border-radius: 60px;
  display: flex;
}

#banner .bg-banner .container-banner .banner-right {
  display: flex;
  flex: 40%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

#banner .bg-banner .container-banner .banner-left {
  display: flex;
  flex: 60%;
}

#banner .bg-banner .container-banner h1 {
  color: #234cad;
  font-size: 30px;
  font-weight: 700;
}

#banner .bg-banner .container-banner .introduction {
  color: #234cad;
  font-size: 1.1em;
  line-height: 26px;
  margin-top: 25px;
}

#banner .bg-banner .container-banner .button-banner {
  align-items: center;
  background-color:#f2f6ff;
  border: 2px solid #234cad;
  color: #234cad;
  border-radius: 32.5px;
  width: 150px;
  height: 50px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 25px;
}

#banner .bg-banner .container-banner .button-banner:hover {
  background-color: #285acd;
  color: #f2f6ff;
}

#banner .bg-banner .container-banner .card-1, 
#banner .bg-banner .container-banner .card-8 {
  width: 90px;
  height: 85px;
  background-color: #ffffff;
  color: #234cad;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#banner .bg-banner .container-banner .card-2,
#banner .bg-banner .container-banner .card-5,
#banner .bg-banner .container-banner .card-6, 
#banner .bg-banner .container-banner .card-7{
  width: 360px;
  height: 110px;
  background-color: #ffffff;
  color: #234cad;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  position: absolute;
}

#banner .bg-banner .container-banner .card-2 .quarter-circle-1 img {
  position: absolute;
  width: 220px;
  margin-left: -55px;
  margin-top: -63px;
}

.circle {
  width: 60px;
  height: 60px;
  background-color: #f2f6ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.description {
  padding-left: 20px;
}

#banner .bg-banner .container-banner h4 {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0;
}

#banner .bg-banner .container-banner p {
  font-size: 0.9em;
  margin: 0
}

#banner .bg-banner .container-banner .card-3{
  width: 120px;
  height: 160px;
  background-color: #ffffff;
  color: #234cad;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

#banner .bg-banner .container-banner .card-3 .quarter-circle-2 img{
  width: 220px;
  position: absolute;
  margin-left: -110px;
  margin-top: -58px;
}

#banner .bg-banner .container-banner .card-4 {
  width: 250px;
  height: 150px;
  background-color: #ffffff;
  color: #234cad;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 35px;
  position: absolute;
}

#banner .bg-banner .container-banner .card-4 .full-circle img {
  width: 170px;
  position: absolute;
  margin-left: -72px;
  margin-top: -68px;
}

.circles-cal {
  display: flex;
}

.circle1, .circle2, .circle3, .circle4 {
  width: 35px;
  height: 35px;
  background-color: #f2f6ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #234cad;
  font-size: 0.7em;
  font-weight: 600;
  margin-left: -8px;
  border: 2px solid white;
}

.little-circle {
  width: 15px;
  height: 15px;
  background-color: #234cad;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.7em;
  position: absolute;
  margin-left: 45px;
  margin-top: -30px;
}

#banner .bg-banner .container-banner .card-5 .time,
#banner .bg-banner .container-banner .card-6 .time {
  margin-top: -25px;
  font-size: 0.7em;
}

#banner .bg-banner .container-banner .card-5 .circle span,
#banner .bg-banner .container-banner .card-6 .circle span {
  font-weight: 600;
  font-size: 1.3em;
}

#banner .bg-banner .container-banner .card-1 {
  margin-top: 20px;
}

#banner .bg-banner .container-banner .card-2 {
  margin-top: 120px;
}

#banner .bg-banner .container-banner .card-3 {
  margin-top: 70px;
  margin-left: 400px;
}

#banner .bg-banner .container-banner .card-4 {
  margin-top: 260px;
}

#banner .bg-banner .container-banner .card-5 {
  margin-top: 260px;
  margin-left: 300px;
}

#banner .bg-banner .container-banner .card-6 {
  margin-top: 440px;
}

#banner .bg-banner .container-banner .card-7 {
  margin-top: 390px;
  margin-left: 450px;
}

#banner .bg-banner .container-banner .card-8 {
  margin-top: 520px;
  margin-left: 400px;
}

/* SECURITY */
#security {
  margin-left: 100px;
  margin-right: 100px;
}

#security .security {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

#security .security .cloud-based {
  display: flex;
  align-items: center;
  flex: 50%;
  color: #234cad;
}

#security .security .secured {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 50%;
  color: #234cad;
}

#security .security .cloud-based .cloud-circle,
#security .security .secured .secured-circle {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f6ff;
  border-radius: 50%;
}

#security .security .cloud-based h4,
#security .security .secured h4 {
  font-size: 1.4em;
  font-weight: 600;
  margin: 0;
}

#security .security .cloud-based p,
#security .security .secured p {
  font-size: 1.2em;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 1200px) {
  #banner .bg-banner .container-banner .card-7 {
  display: none;
  }

  #security .security .cloud-based .cloud-circle,
  #security .security .secured .secured-circle {
      width: 70px;
      height: 70px;
      font-size: 1em;
  }
}

@media (max-width: 1100px) {
  #banner .bg-banner .container-banner .card-5,
  #banner .bg-banner .container-banner .card-3, 
  #banner .bg-banner .container-banner .card-8
  {
      display: none;
  }

  #security .security .cloud-based h4,
    #security .security .secured h4 {
        font-size: 1.3em;
        font-weight: 600;
    }

    #security .security .cloud-based p,
    #security .security .secured p {
        font-size: 0.9em;
    }
}

@media (max-width: 1024px) {
  nav .nav-links a {
    font-size: 1.1em;
    margin-right: 30px;
    font-weight: 500;
  }
}

@media (max-width: 780px) {
  nav .nav-links,
  nav .nav-buttons,
  #banner .bg-banner .container-banner .card-1,
  #banner .bg-banner .container-banner .card-2,
  #banner .bg-banner .container-banner .card-4,
  #banner .bg-banner .container-banner .card-6 {
    display: none;
  }

  nav .toggle_btn {
    display: block;
  }

  .dropdown {
    display: block;
  }

  #security .security {
    flex-direction: column;
}

#security .security .secured {
    margin-top: 20px;
    justify-content: start;
}
}

@media (max-width: 576px) {
  .dropdown {
    left: 2rem;
    width: unset;
  }

  #banner {
    margin-left: 50px;
  }

  #security {
    margin-right: 0;
}

#security .security .cloud-based .cloud-circle,
#security .security .secured .secured-circle {
    width: 50px;
    height: 50px;
    font-size: 0.6em;
}

#security .security .cloud-based h4,
#security .security .secured h4 {
    font-size: 1em;
    font-weight: 600;
}

#security .security .cloud-based p,
#security .security .secured p {
    font-size: 0.8em;
}
}
/*----------------PRODUCT------------------------*/
/* pop up text right */
.popup-text-right{
  top: 1000px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 101;
  left: -5px;

}
.popup-text-right-content{
  color: white;
  height: 450px;
  width: 650px;
  background: #234CAD;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}
.close-text-right{
  position: absolute;
  left: 600px;

  cursor: pointer;
}
.popup-item-text-right {
  position: absolute;
  right: 500px;
  top: 100px;
}
.text-right {
  color: white;
  height: 150px;
  width: 400px;
}
.text-right p {
  padding: 5px;
}
.popup-description-text-right{
  color: white;
  position: absolute;
  width: 540px;
  top:150px;
  height: 110px;
}
.popup-description-text-right p{
  font-size: 15px;
}
/* end pop up text right */
.website-elements-section-text-right{
  display: flex;
  margin-top: 157px;
}
.card-product-1{
  height: 500px;
  width: 575px;
  border-radius: 60px;
  background: #F2F6FF;
}
.section-product-1{
  height: 575px;
  width: 1015px;
  left: 213px;
  top: 1175px;
  border-radius: 0px;

}

/* Card 1 */
.card-content-item-1{
  padding-left: 40px;
  margin-top: 108px;
  margin-left: 69px;
  margin-right: 69px;
  height: 125px;
   width: 438px;
  background: #FFFFFF;
  border-radius: 25px;
  padding-top: 30px;

}
.item-initials{
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background: #F2F6FF;
  padding-top: 20px;
  text-align: center;
}
.item-initials h3{
  color: #234CAD;
  font: 22px;
  font-weight: 700;
}

.item-notification{
  margin-right: 25px;
  margin-left: -20px;
  border-radius: 50%;
  height: 20px;
  text-align: center;
  width: 20px;
  background: #234CAD;
  color: #FFFFFF;
}
.information h4{
  font-weight: 700;
  font-size: 20px;
  color: #234CAD;
}
.information p{
  color: #234CAD;
  font-weight: 400;
  font-size: 15px;
}
.time p{
  font-size: 12px;
  font-weight: 400;
  color: #234CAD;
}
.content-text-right {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 212px;
}
.text-content h1{
  width: 400px;
  font-size: 48px;
  font-weight: 700;
  color: #234CAD;
}
.text-content p{
  font-size: 16px;
   margin-top: 30px;
   text-align: right;
   margin-left: 0;
   color: #234CAD;
}
.btn-text-content{
  color: #234CAD;
  background: #FFFFFF;
  border: 2px solid #234CAD;
  margin-top: 150px;
  height: 65px;
  width: 200px;
  left: 0px;
  top: 0px;
   border-radius: 32.5px;

}
/* END CARD 1 */
/* CARD 2 */
.card-content-item-2{
  padding: 20px;
  margin-top: 25px;
  margin-left: 113px;
  height: 100px;
  width: 350px;
  border-radius: 20px;
  background: #FFFFFF;
}
.item-initials-2{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  background: #F2F6FF;
}
.item-initials-2 h3{
  padding-top: 20px;
  color: #234CAD;
  font-size: 18px;
  font-weight: 700;
}
.item-notification-2{
  height: 16px;
  text-align: center;
  color: #FFFFFF;
  width: 16px;
  border-radius: 50%;
  background: #234CAD;
  margin-left: -20px;
  margin-right: 20px;
}
.item-notification-2 p{
  padding-top: 5px;
  font-size: 6px;
  font-weight: 700;
}
.information-2 h4{
  font-size: 16px;
  font-weight: 700;
  color: #234CAD;

}
.information-2 p {
  color: #234CAD;
  font-size: 12px;
  font-weight: 400;
}
.time-2{
  height: 13px;
  width: 39px;

}
.time-2 {
  font-family: Nunito;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;

}
/* END CARD 2 */
/* CARD 3 */
.card-product-3{
  height: 75px;
width: 262px;
left: 157px;
top: 383px;
border-radius: 15px;
background: #FFFFFF;
margin-top: 25px;
margin-left: 157px;
padding: 15px;
}
.item-initials-3 {
  height: 45px;
width: 45px;
text-align: center;
border-radius: 50%;
background: #F2F6FF;
color: #234CAD;
}
.item-initials-3 h3 {
  font-size: 13px;
  font-weight: 700;
  padding-top: 15px;
}
.item-notification-3{
  width: 12px;
  height: 12px;
  background: #234CAD;
  border-radius: 50%;
  text-align: center;
  color: #FFFFFF;
  margin-left: -10px;
  margin-right: 15px;
}
.item-notification-3 p {
  font-size: 6px;
  font-weight: 700;
  padding-top: 2px;
}
.information-3 h4 {
font-size: 12px;
font-weight: 700;
color: #234CAD;
}
.information-3 p {
font-size: 9px;
font-weight: 400;
color: #234CAD;

}
.time-3 {
  height: 10px;
  width: 30px;
}
.time-3 p {
font-size: 7px;
font-weight: 400;
color: #234CAD;

}
/* END CARD 3 */
/* pop up */
.popup-section-3{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 101;


}
.popup-about-content-section-3{
  color: white;
  height: 450px;
  width: 650px;
  background: #234CAD;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}
.close-section-3{
  position: absolute;
  left: 600px;
  cursor: pointer;
}
.popup-item-section-3 {
  position: absolute;
  right: 500px;
  top: 100px;
}
.popup-img img {
  width: 154px;
  height: 209px;
  border-radius: 10px;
}
.popup-text-section-3 {
  color: white;
  height: 150px;
  width: 400px;
}
.popup-text-section-3 p {
  padding: 5px;
}
.popup-description-section-3{
  color: white;
  position: absolute;
  width: 540px;
  top:150px;
  height: 110px;
}
.popup-description-section-3 p{
  font-size: 15px;
}



.popup-pricing{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
.popup-content-pricing{
  color: white;
  height: 450px;
  width: 650px;
  background: #234CAD;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}
.close-pricing{
  position: absolute;
  left: 600px;
  cursor: pointer;
}
.popup-item-pricing {
  position: absolute;
  right: 500px;
  top: 100px;
}
.popup-img img {
  width: 154px;
  height: 209px;
  border-radius: 10px;
}
.popup-text-pricing {
  color: white;
  height: 150px;
  width: 400px;
}
.popup-text-pricing p {
  padding: 5px;
}
.popup-description-pricing{
  color: white;
  position: absolute;
  width: 540px;
  top:150px;
  height: 110px;
}
.popup-description-pricing p{
  font-size: 15px;
}

.popup-pricing-2{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
.popup-content-pricing-2{
  color: white;
  height: 450px;
  width: 650px;
  background: #234CAD;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}
.close-pricing-2{
  position: absolute;
  left: 600px;
  cursor: pointer;
}
.popup-item-pricing-2 {
  position: absolute;
  right: 500px;
  top: 100px;
}
.popup-img img {
  width: 154px;
  height: 209px;
  border-radius: 10px;
}
.popup-text-pricing-2 {
  color: white;
  height: 150px;
  width: 400px;
}
.popup-text-pricing-2 p {
  padding: 5px;
}
.popup-description-pricing-2{
  color: white;
  position: absolute;
  width: 540px;
  top:150px;
  height: 110px;
}
.popup-description-pricing-2 p{
  font-size: 15px;
}


.popup-pricing-3{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 101;
}
.popup-content-pricing-3{
  color: white;
  height: 450px;
  width: 650px;
  background: #234CAD;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}
.close-pricing-3{
  position: absolute;
  left: 600px;
  cursor: pointer;
}
.popup-item-pricing-3 {
  position: absolute;
  right: 500px;
  top: 100px;
}
.popup-img img {
  width: 154px;
  height: 209px;
  border-radius: 10px;
}
.popup-text-pricing-3 {
  color: white;
  height: 150px;
  width: 400px;
}
.popup-text-pricing-3 p {
  padding: 5px;
}
.popup-description-pricing-3{
  color: white;
  position: absolute;
  width: 540px;
  top:150px;
  height: 110px;
}
.popup-description-pricing-3 p{
  font-size: 15px;
}

#msg{
  color: #234CAD;
  margin-top: 10px;
  display: block;
}

/*---------------- TEXT CENTER------------------------*/
.website-elements-section-text-center{
  height: 908px;
width: 1240px;
left: 100px;
top: 1900px;
border-radius: 0px;
margin-top: 150px;
}
.section-text-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-content h1{
  font-family: Nunito;
  font-size: 30px;
  font-weight: 700;
  width: 500px;

}
.text-content p{
  text-align: center;
  width: 400px;
  font-size: 15px;
  font-weight: 400;
}
.ui-components-product-ft-2{
  height: 575px;
  margin-top: 100px;
  margin-left: 100px;
  width: 1110px;
  border-radius: 60px;
  background: #F2F6FF;
}
.card-1-ft-2{
  margin-left: 107px;
  padding-top: 270px;
}
.card-1-content-ft-2 {
  justify-items: center;
  align-items: center;
  height: 100px;
  width: 350px;
  border-radius: 25px;
  background: #FFFFFF;
  padding: 20px;
}
.icon-card-1{
  height: 60px;
  width: 60px;
  left: 127px;
  top: 523px;
  border-radius: 50%;
  background: #F2F6FF;
  display: flex;
  align-items: center;
  justify-content: center;   
}
.information-text-content-card-1{
  padding-left: 20px;
  padding-top: 28px;
}
.information-text-content-card-1 h3{
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  height: 15px;
  text-align: left;
  color: #234CAD;
}    
.information-text-content-card-1 p{
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;    
}
.icon-card-2-ft-2{
  margin-left: 270px;
  margin-top: 40px;
  height: 75px;
  width: 75px;
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;    
}
/* card 3 */
.icon-card-3-ft-2 {
  height: 75px;
  width: 75px;
  left: 482px;
  top: 288px;
  border-radius: 20px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  margin-left: 25px;    
}
/* end card 3 */
/* CARD 4 */
.card-4-content-ft-2{
  height: 160px;
  width: 276px;
  border-radius: 25px;
  background: #FFFFFF; 
  margin-top: 25px;
  margin-left: 25px;   
}
.card-4-item-ft-2{
  margin-left: 20px;
  padding-top: 20px;
}
.icon-card-4-ft-2{
  height: 60px;
  width: 60px;
  left: 502px;
  top: 408px;
  border-radius: 50%;
  background: #F2F6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #234CAD;    
}
.text-content-card-4-ft-2{
  margin-left: 20px;
  margin-top: 10px;
}
.text-content-card-4-ft-2 h3 {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;
  
}
.text-content-card-4-ft-2 p {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD; 
  margin-top: -5px;   
}
.meeting-parcitipans-card-4-ft-2{
  margin-left: 20px;
  margin-top: 10px;
}
.person-1-mp{
  height: 40px;
  width: 40px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  background: #F2F6FF;
}
.person-1-mp p{
  padding: 13px;
  font-family: Nunito;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;    
  color: #234CAD;
  
}
.person-2-mp {
  margin-left: -10px;
  border: 2px solid #FFFFFF;
  height: 42px;
  width: 42px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  background: #F2F6FF;
}
.person-2-mp p{
  padding: 13px;
  font-family: Nunito;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;    
  color: #234CAD;
}
.person-3-mp {
  margin-left: -10px;
  border: 2px solid #FFFFFF;
  height: 42px;
  width: 42px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  background: #F2F6FF;
}
.person-3-mp p{
  padding: 13px;
  font-family: Nunito;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;    
  color: #234CAD;
}
.other-people-mp {
  margin-left: -10px;
  border: 2px solid #FFFFFF;
  height: 42px;
  width: 42px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  background: #F2F6FF;
}
.other-people-mp p{
  padding: 13px;
  font-family: Nunito;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;    
  color: #234CAD;
}
/* end card 4 */
/* card 5 */
.card-5-content-ft-2{
  margin-left: 25px;
  margin-top: 25px;
  height: 100px;
  width: 350px;
  left: 482px;
  top: 573px;
  border-radius: 20px;
  background: #FFFFFF;    
}
.person-initials-card-5 {
  height: 60px;
  width: 60px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  background: #F2F6FF;    
}
.person-initials-card-5 h3 {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;
  padding: 18px;    
}
.notifikasion-card-5 {
  height: 16px;
  margin-top: 20px;
  margin-left: -15px;
  width: 16px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  background: #234CAD;
  color: #FFFFFF;    
  border-radius: 50%;
  margin-right: 20px;
}
.notifikasion-card-5 p{
  padding-left: 6px;
  padding-top: 4px;
  display: flex;
  align-items: center;
  font-family: Nunito;
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0px;
  text-align: left;
  
}
.text-content-card-5{
  padding-top: 28px;
}
.information-card-5 h3{
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -1px;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;
  
}
.information-card-5 p{
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;    
}
.time-card-5 {
  padding-top: 28px;
  margin-right: 20px;
  font-family: Nunito;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;    
}
/* end card 5 */
/* card 6 */
.card-6-content-ft-2 {
  height: 160px;
  width: 130px;
  left: 482px;
  top: 698px;
  border-radius: 25px;
  background-color: #FFFFFF;
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
}
.stroke-card-6{
  height: 70px;
  width: 70px;
  background: #FFFFFF;
  border-radius: 50%;
  border-right: 3px solid #234CAD;
  border-bottom: 3px solid #234CAD;
}
.proggres-card-6 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
   background: #F2F6FF;
   display: flex;
   align-items: center;
   margin-top: -60px;
   justify-content: center;
}
.text-content-card-6 {
  margin-top: 20px;
}
.text-content-card-6 p {
  font-family: Nunito;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;    
}
/* end card 6 */
/* card 7 */
.card-7-content-ft-2{
  height: 100px;
  width: 350px;
  left: 583px;
  top: 263px;
  border-radius: 25px;
  background: #FFFFFF;
  margin-left: -250px;
  margin-top: 30px;    
}
.persons-initials-card-7 {
  margin-top: 20px;
  margin-left: 20px;
  height: 60px;
  width: 60px;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  background: #F2F6FF;    
}
.persons-initials-card-7 p{
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;   
  padding: 18px; 
}
.notifikasion-card-7-ft-2 {
  height: 16px;
  margin-left: -15px;
  margin-top: 20px;
  margin-right: 20px;
  width: 16px;
  left: 0px;
  top: 0px;
  border-radius: 50%;    
  background: #234CAD;
}
.notifikasion-card-7-ft-2 p{
  font-family: Nunito;
  padding-top: 4px;
  padding-left: 6px;
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;    
}
.information-card-7 {
  margin-top: 28px;
}
.information-card-7 h3 {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;    
}
.information-card-7 p {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;
  margin-top: -7px;    
}
.time-card-7 {
  margin-top: 28px;
  margin-right: 20px;
}
.time-card-7 p{
  font-family: Nunito;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;    
}
/* end card 7 */
/* card 8 */
.card-8-content-ft-2 {
  height: 100px;
  width: 300px;
  left: 783px;
  top: 388px;
  margin-top: 25px;
  border-radius: 20px;
  background: #FFFFFF;
  margin-left: -50px;    
}
.icon-card-8-ft-2 {
  margin-top: 31px;
  margin-left: 20px;
  height: 46px;
  width: 46px;
  left: 803px;
  top: 419px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #F2F6FF;    
}
.stroke-card-8-ft-2{
  height: 70px;
  width: 70px;
  background: #FFFFFF;
  border-right: 2px solid #234CAD;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: -60px;
  margin-right: 20px;
   
}
.text-content-card-8 {
  margin-top: 32px;
}
.text-content-card-8 h3{
  font-family: Basic;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;    
}
.text-content-card-8  p{
  margin-top: -5px;
  font-family: Basic;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234CAD;    
}
/* end card 8 */

/* pop up */
.popup-section-3{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 101;


}
.popup-about-content-section-3{
  color: white;
  height: 450px;
  width: 650px;
  background: #234CAD;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}
.close-section-3{
  position: absolute;
  left: 600px;
  cursor: pointer;
}
.popup-item-section-3 {
  position: absolute;
  right: 500px;
  top: 100px;
}
.popup-img img {
  width: 154px;
  height: 209px;
  border-radius: 10px;
}
.popup-text-section-3 {
  color: white;
  height: 150px;
  width: 400px;
}
.popup-text-section-3 p {
  padding: 5px;
}
.popup-description-section-3{
  color: white;
  position: absolute;
  width: 540px;
  top:150px;
  height: 110px;
}
.popup-description-section-3 p{
  font-size: 15px;
}

/* pop up */
.popup-section-3{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 101;


}
.popup-about-content-section-3{
  color: white;
  height: 450px;
  width: 650px;
  background: #234CAD;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}
.close-section-3{
  position: absolute;
  left: 600px;
  cursor: pointer;
}
.popup-item-section-3 {
  position: absolute;
  right: 500px;
  top: 100px;
}
.popup-img img {
  width: 154px;
  height: 209px;
  border-radius: 10px;
}
.popup-text-section-3 {
  color: white;
  height: 150px;
  width: 400px;
}
.popup-text-section-3 p {
  padding: 5px;
}
.popup-description-section-3{
  color: white;
  position: absolute;
  width: 540px;
  top:150px;
  height: 110px;
}
.popup-description-section-3 p{
  font-size: 15px;
}




/*----------------PRODUCT------------------------*/
/* pop up text right */
.popup-text-right{
  top: 1000px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 101;
  left: -5px;

}
.popup-text-right-content{
  color: white;
  height: 450px;
  width: 650px;
  background: #234CAD;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}
.close-text-right{
  position: absolute;
  left: 600px;

  cursor: pointer;
}
.popup-item-text-right {
  position: absolute;
  right: 500px;
  top: 100px;
}
.text-right {
  color: white;
  height: 150px;
  width: 400px;
}
.text-right p {
  padding: 5px;
}
.popup-description-text-right{
  color: white;
  position: absolute;
  width: 540px;
  top:150px;
  height: 110px;
}
.popup-description-text-right p{
  font-size: 15px;
}
/* end pop up text right */
.website-elements-section-text-right{
  display: flex;
  margin-top: 157px;
}
.card-product-1{
  height: 500px;
  width: 575px;
  border-radius: 60px;
  background: #F2F6FF;
}
.section-product-1{
  height: 575px;
  width: 1015px;
  left: 213px;
  top: 1175px;
  border-radius: 0px;

}
/*---------------------------about content-----------------------*/
.about-content{
  margin-top: 65px;
}
.section-content{
  height: 500px;
  background-color: #F2F6FF;
  border-radius: 50px;
  color: #234CAD;;
}
.daily{
  width: 250px;
  height: 150px;
  margin-left: 65px;
}
.daily-image{
  background-color:#fff;
  border:1px solid #234CAD;    
  height:60px;
  width:60px;
  border-radius:50%;
  margin-top: 15px;
  margin-left: 15px;
}
.daily-image img{
margin-left: 18px;
margin-top: 16px;
}
.daily-text{
  margin-left: 15px;
  margin-top: 23px;
}
.daily-text p{
  font-size: small;
}
.daily-circle{
  margin-left: 15px;
  margin-top: 10px;
  font-size: small;
}
.first-circle{
  width: 40px;
  height: 40px;
  border: solid #fff;
  z-index: 4;
  margin-right: -8px;
  border-width: 2px;
}
.second-circle{
  width: 40px;
  height: 40px;
  border: solid #fff;
  z-index: 3;
  margin-right: -8px;
  border-width: 2px;
}
.third-circle{
  width: 40px;
  height: 40px;
  border: solid #fff;
  z-index: 2;
  margin-right: -8px;
  border-width: 2px;
}
.fourth-circle{
  width: 40px;
  height: 40px;
  border: solid #fff;
  z-index: 1;
  margin-right: -8px;
  border-width: 3px;
}
.daily-email{
  width: 250px;
  height: 150px;
  margin-left: 25px;
  border-radius: 20px 0 0 20px;
}
.about-content-2{
  margin-top: 25px;
}
.marketing{
  width: 250px;
  height: 150px;
  margin-left: 65px;
  border-radius: 20px;
}
.project-meeting{
  width: 250px;
  height: 150px;
  margin-left: 25px;
  border-radius: 20px 0 0 20px;
}
.presentation{
  width: 250px;
  height: 150px;
  margin-left: 65px;
}
.sales-call{
  width: 250px;
  height: 150px;
  margin-left: 25px;
  border-radius: 20px 0 0 20px;
}
.about-text{
  width: 400px;
  margin-top: 60px;
  color: #234CAD;;
}
.about-button{
  color: #234CAD;
  background: #FFFFFF;
  height: 50px;
  width: 150px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 25px;
  border: solid #234CAD;
  border-width: 2px;
}
.btn:hover{
  background-color: #F2F6FF;
}

/* bagus */
